*{
    overflow: hidden;
}
/* *::-webkit-scrollbar{ */
    /* display: none;
} */
.h6{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    margin:1em;
    position:absolute;
    left:500px;
    top: 2px;
    color:black;
    margin:1rem;
}

.side{
    position:fixed;
    border-bottom:1px solid rgba(130, 91, 91, 0.392);
    width:100vw;
    height:6vh;
    box-shadow: 0px 0px 0px 1px rgba(130,91,91,.392);
}

.p{
    height:5vh;
    position: absolute;
    top: 8px;
    right: 30px;
}
.upload{
    padding-top:4rem;
    padding-left:27rem;
}
input[type='file']{
    z-index: -1;
    position: absolute;
    opacity: 0;
}
label{
    border: 2px solid black;
    background-color: rgb(187, 104, 21);
    color:rgb(14, 229, 28);
    margin-left:5rem;
    font-size: medium;
}

.logout-button{
    border: 5px solid rgb(0, 32, 128);
    background-color: whitesmoke;
    position: fixed;
    margin:1rem;
    padding:.2rem;
    border-radius:20px;
    cursor: pointer;
}
.logout-button:hover{
    transform: scale(1.01);
    background-color: yellowgreen;
    size: 5rem;
}
.reels{
    height: auto;
    width: 90vw;
    /* border: 2px solid black; */
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
}
.reels::-webkit-scrollbar{
    display: none;
}

.videoCont{
    height:37rem;
    overflow-y: scroll;    
    scroll-snap-type:y mandatory;
    scrollbar-width: none;
    /* scroll-behavior: smooth; */
    /* scroll-snap-align: start; */
    margin:3rem;
    /* pointer-events: none; */
}
.videoCont::-webkit-scrollbar{
    display: none;
    scroll-snap-align: start;
 } 
.post{
    height:35rem;
    margin:5px;
    width:100%;
    border-radius: 60px;
    scroll-snap-align: start;
}
